name: Manual Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose Environment"
        required: true
        default: staging
        type: choice
        options:
          - production
          - staging

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Delpoy manual
        run: echo "Deployment workflow manually on ${{inputs.environment}}"
